.vscode/
node_modules
build
coverage
.nyc*

.balena/secrets/

# Docker compose file is generated with make, as well as core/worker Dockerfile.
core/Dockerfile
worker/Dockerfile

# docker-compose script is downloaded if binary is not installed
bin/docker-compose

# emulated balena build will install qemu binaries here
**/.balena

# custom paths for docker-compose bind mounts
.env
