.vscode/
node_modules
build
coverage
.nyc*

.balena/secrets/

# Docker compose file is generated with make, as well as core/worker Dockerfile.
core/Dockerfile
worker/Dockerfile

# binaries may be download by the makefile if missing
bin/

# emulated balena build will install qemu binaries here
**/.balena

# custom paths for docker-compose bind mounts
.env
