.vscode/
node_modules
build
coverage
.nyc*

.balena/secrets/

# binaries may be download by the makefile if missing
bin/

# emulated balena build will install qemu binaries here
**/.balena

# custom paths for docker-compose bind mounts
.env

# ignore private contracts 
core/contracts/private-contracts

# ignore generated docs
docs/ 