{
	"client/**/*.ts": [
	    "cd client && balena-lint --typescript --fix"
	],
	"client/**/*.js": [
	    "cd client && balena-lint --typescript --fix",
	    "eslint -c .eslintrc.json"
	],
	"client/test/**/*.@(ts|js)": [
	    "cd client && balena-lint --typescript --no-prettier --tests"
	],
	"worker/**/*.ts": [
		"cd worker && balena-lint --typescript --fix"
	],

	"@(suites|core)/**/*.js": [
		"prettier --config ./node_modules/@balena/lint/config/.prettierrc --write",
		"eslint",
		"git add"
	]
}
