version: "2"

services:
  client:
    build: ./client
    volumes:
      - "${WORKSPACE:-./workspace}:/usr/src/app/workspace:ro"
      - "${REPORTS:-./workspace/reports}:/usr/src/app/reports:rw"
      - "${SUITES:-./suites}:/usr/src/app/suites:ro"
    environment:
      - WORKER_TYPE=${WORKER_TYPE}
      - DEVICE_TYPE=${DEVICE_TYPE}
      - BALENACLOUD_API_KEY=${BALENACLOUD_API_KEY}
      - BALENACLOUD_ORG=${BALENACLOUD_ORG}
      - BALENACLOUD_APP_NAME=${BALENACLOUD_APP_NAME}
    depends_on:
      - core
    networks:
      - default

  core:
    privileged: true # preload requires docker-in-docker
    build: core
    volumes:
      - core-storage:/data
      - reports-storage:/reports
    tmpfs:
      - /var/run # use tmpfs docker-in-docker pid files
      - /var/lib/docker # use tmpfs for docker-in-docker data root
    restart: "no"
    devices:
      - /dev:/dev # required for creating losetup devices during preload
    networks:
      - default

volumes:
  core-storage:
  reports-storage:

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: ${WORKER_BRIDGE_SUBNET:-172.56.0.0/16}
