version: "2"

services:
  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile.template
      args:
        - BALENA_ARCH=${BALENA_ARCH:-amd64}
    device_cgroup_rules:
      # allow dynamic creation and access of qemu required misc chardev nodes
      # this includes /dev/kvm, and /dev/net/tun
      - "c 10:* rmw"
    cap_add:
      - NET_ADMIN # allow network setup
    volumes:
      - "core-storage:/data"
      - "reports-storage:/reports"
    environment:
      - UDEV=0
      - WORKER_TYPE=qemu
      - SCREEN_CAPTURE=true
      - WORKER_PORT # default 80 and must match client config.js workers
      - QEMU_ARCH=${QEMU_ARCH:-x86_64}
      - QEMU_CPUS=${QEMU_CPUS}
      - QEMU_MEMORY=${QEMU_MEMORY}
      - QEMU_DEBUG=${QEMU_DEBUG}
    restart: 'no'

  core:
    depends_on:
      - worker

volumes:
  core-storage:
  reports-storage:
